.project-card--wrapper:nth-child(odd) {
  opacity: 0;
  transform: translateX(-3em);
}

.project-card--wrapper:nth-child(even) {
  opacity: 0;
  transform: translateX(3em);
}

.project-card {
  width: 100%;
  height: 175px;
  display: flex;
  box-shadow: 8px 7px 10px #0000008c;
  position: relative;
  cursor: pointer;
}

.project-card--image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  filter:brightness(85%);
  transition: var(--transition);
}

.project-card--image:hover {
  filter:brightness(100%);
}

/* ON HOVER */
.project-card--on-hover {
  position: absolute;
  background-color: var(--dark-slate);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
  transition: var(--transition);
}

.project-card--on-hover h2 {
  font-family: var(--font-mono);
  color: var(--white)
}

.project-card--on-hover h3 {
  color: var(--subheading);
}

.tag--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card--tags {
  color: var(--accent)
}

.modal--open-btn {
  display: flex;
  justify-content: center;
  font-family: var(--font-mono);
  font-size: var(--font-s);
  font-weight: 700;
  color: var(--white);
  border: 2px solid var(--subheading);
  transition: all 0.25s;
}

.modal--open-btn:hover {
  border: 2px solid var(--subheading);
  background-color: var(--subheading);
  color: var(--dark-slate)
}

/* MODAL */

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  margin: auto;
  background: var(--dark-slate);
  border: 2px solid var(--white);
  height: 90vh;
  width: 75vw;
  color: var(--white);
  border-radius: var(--border-radius);
  transform: translateY(-50%);
  font-family: var(--font-sans);
  box-shadow: 2px 2px 10px #111111;
}

.overlay {
  z-index:99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(36 36 36 / 70%); /*dark slate, 70% opacity)*/
}

.modal--inner{
  padding: 0 1em 1em;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;

}

.modal--info {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.modal--heading {
  font-size: var(--font-l);
  color: var(--subheading);
}

.modal--subheading {
  font-size: var(--font-s);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.stack--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: clamp(1em, 2em, 3em);
  gap: 0.2em;
}

.stack--wrapper i {
  font-size: var(--font-m);
  color: var(--subheading);
}

.modal--description {
  font-size: var(--font-xs);
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal--buttons-wrapper {
  display: flex;
  gap: 0.5em;
}

.modal--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: 0.3em;
  border-radius: var(--border-radius);
  border: 1px solid var(--subheading);
  background-color: var(--subheading);
  color: var(--dark-slate);
  font-size: var(--font-xs);
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  text-align: center;
}

.modal--link:hover {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--white)
}

.modal--link i {
  margin-right: 0.3em;
}

.modal--close-btn {
  width: 20px;
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--white);
  margin-left: auto;
}

.modal--close-btn:hover {
  transform: scale(1.1);
}


/* ANIMATIONS */
.cardFadeInUp {
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeIn 2s ease forwards;
}

.cardFadeInDown {
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .modal{
    max-width: 650px;
  }     

  .project-card {
    height: 250px;
    max-width: 600px;
    margin: 0 auto;
  }

  .modal--inner {
  padding: 2em 3em;
  }

  .modal--heading {
    font-size: var(--font-xl);
  }

  .modal--subheading {
    font-size: var(--font-l);
  }

  .stack--wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5em;
  }

  .stack--wrapper .fa-brands {
    font-size: var(--font-xl)
  }

  .modal--description {
    line-height: 1.8;
  }
}