.section--projects {
    background-color: var(--dark-slate);
    height: 1000px
  }

.gallery {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

  /* MODAL */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: var(--white);
  height: 90vh;
  width: 85vw;
  color: var(--dark-slate);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(36 36 36 / 70%); /*dark slate, 70% opacity)*/
}

.modal--info {
  padding: 0.5em 1em;
}



.modal--heading {
  font-size: var(--font-m)
}

.modal--subheading {
  font-size: var(--font-s);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.modal--description {
  font-size: var(--font-s);
  padding-top: 10px;

}

.modal--close-btn {
  /* position: absolute;
    bottom: 15px;
    right: 15px;
    width: auto; */
}

.modal--link {
  width: 40px;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--accent);
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}



.stack--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}