header {
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-family: var(--font-mono);
    background-color: var(--dark-slate);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--nav-height);
}

.logo {
    width: 60px;
}

.nav--links {
    display: none;
}

header ul {
    display: flex;
    gap: 1em;
}

/* BUTTONS for mobile */
.nav--button {
    display: inline-block;
    text-align: center;
    width: 20px;
    padding: 0.3em 0.6em;
    border-radius: var(--border-radius);
    border: 1px solid var(--heading);
    color: var(--heading);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.25s;
}

.nav--button:hover,
.nav--button:focus {
    border-color: var(--accent);
    color: var(--accent);
}
  
.nav--button:focus,
.nav--button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* TEXT for desktop */

.nav--text {
    color: var(--white);
    transition: var(--transition)
}

.nav--span {
    margin-right: 0.3em;
    color: var(--accent)
}

@media screen and (min-width: 768px) {
    header {
        padding: 0 60px;
    }
    
    .nav--links {
        display: flex;
    }

    .nav--buttons {
        display: none;
    }
}