.tech-card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}

.card--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    border-radius: var(--border-radius);
    padding: 0.3em;
    background: var(--white);
    color: var(--accent);
    transition: all 0.25s;

}

.card--heading {
    font-size: var(--font-xl);
    margin-top: 0.2em;
}

.card--text {
    font-size: var(--font-s);
    hyphens: auto;
}

.card--icon:hover,
.card--icon:focus {
    background: var(--accent);
    color: var(--white)
}