:root {
   --typewriterSpeed: 4s;
   --typewriterCharacters: 22;
   --fadeInUpDelay: calc(var(--typewriterSpeed) + 2s)
}

/* LAYOUT */
.section--intro {
    background-color: var(--dark-slate);
  }
  
  .intro--bio,
  .intro--cards {
      margin-bottom: 3em;
  }
  
  .intro--cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 3em;
    justify-items: center;
}

/* TYPOGRAPHY */
.intro--bio > h1,
.intro--bio > h2,
.intro--bio > h3 {
    font-family: var(--font-mono);
}



/* h1, h2, h3 {
    font-size: clamp(1.8rem, 5vw, 3rem);
} */

.intro--bio > h1 {
    color: var(--accent);
    font-weight: 700;
    margin-bottom: 0.3em;
    position: relative;
    width: max-content;
}

.intro--bio > h2 {
    color: var(--subheading);
    line-height: 1; 
    margin-bottom: 0.6em;
}

.intro--bio > h3 {
    color: var(--heading);
}

.intro--p {
    color: var(--subheading);
    font-size: var(--font-l) 
}

blockquote {
    max-width: 400px;
    margin: 0 auto;
    padding: 0.5em;
    font-style: italic;
    text-align: justify;
    position: relative;
}

blockquote::before,
blockquote::after {
	position: absolute;
	color: #f1efe6;
	font-size: 4rem;
	width: 4rem;
	height: 4rem;
}

blockquote::before {
	content: '“';
	left: -1.5rem;
	top: -2rem;
}

blockquote::after {
	content: '”';
	right: -3.5rem;
	bottom: -1.5rem;
}

.CTA {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-m);
    font-weight: 700;
    color: var(--accent);
    background-color: var(--white);
    gap: 0.5em;
    width: 150px;
    transition: var(--transition);
}

.CTA:hover {
    transform: scale(1.2);
}


/* ANIMATIONS & EFFECTS */
h1::before,
h1::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}

h1::before {
    background: var(--dark-slate);
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;    
}

h1::after {
    width: 0.125em;
    background: var(--accent);
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
        blink 750ms steps(2, start) forwards 12; /*stops after 12 blinks*/
}

.fadeInUp {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease var(--fadeInUpDelay) forwards;
}

@keyframes typewriter {
    to {left: 100%}
}

@keyframes blink {
    to {visibility: hidden}
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 1040px){

    .intro--cards-wrapper {
        display: flex;
        justify-content: space-around;
    }
}
