/* LAYOUT */
.section--intro {
    background-color: var(--dark-slate);
  }

.intro--cards {
    width: 100%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: auto;
    gap: 1.5em;
}

/* TYPOGRAPHY */
.intro--bio > h1,
.intro--bio > h2,
.intro--bio > h3 {
    font-family: var(--font-mono);
}

.intro--bio > h2 {
    color: var(--accent);
    font-weight: 700;
    margin-bottom: 0.3em;
    position: relative;
    width: max-content;
}

.intro--bio > h3 {
    color: var(--subheading);
    line-height: 1; 
    margin-bottom: 0.6em;
}

.intro--bio > h1 {
    color: var(--heading);
}

.intro--p {
    color: var(--white);
    font-size: var(--font-m); 
    padding-top: 10px;
}

blockquote {
    max-width: 400px;
    margin: 0 auto;
    padding: 0.5em;
    color: var(--subheading);
    font-size: var(--font-l);
    font-style: italic;
    text-align: justify;
    position: relative;
}

blockquote::before,
blockquote::after {
	position: absolute;
	color: #f1efe6;
	font-size: 4rem;
	height: 4rem;
}

blockquote::before {
	content: '“';
    left: -0.5rem;
    top: -2.25rem;
}

blockquote::after {
	content: '”';
    right: 0;
    bottom: -1.75rem;
}

.CTA {
    margin: 1em auto;
    padding: 0.3em 0.8em;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-l);
    font-weight: 700;
    color: var(--accent);
    background-color: var(--white);
    gap: 0.5em;
    width: 175px;
    height: 60px;
    transition: var(--transition);
    box-shadow: 16px 14px 20px #0000008c;
    cursor: pointer;
}

/* ANIMATIONS & EFFECTS */
:root {
    --typewriterSpeed: 2.5s;
    --typewriterCharacters: 22;
    --fadeInUpDelay: calc(var(--typewriterSpeed) + 1s)
 }

.intro--bio h2::before,
.intro--bio h2::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}

.intro--bio h2::before {
    background: var(--dark-slate);
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;    
}

.intro--bio h2::after {
    width: 0.125em;
    background: var(--accent);
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
        blink 750ms steps(2, start) forwards 12; /*stops after 12 blinks*/
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px){

    .intro--cards {
        width: 80%;
        column-gap: 2em;
        row-gap: 3em;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    blockquote {
        margin: 4em auto 0 auto;
    }

    blockquote::before {
        content: '“';
        left: -1.5rem;
        top: -2rem;
    }
    
    blockquote::after {
        content: '”';
        right: -1rem;
        bottom: -1.5rem;
    }
}

@media screen and (min-width: 1400px){
    .intro--cards {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}