footer {
    background-color: var(--slate);
    display: flex;
    gap: 0.5em;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer p {
    font-family: var(--font-mono);
    font-size: var(--font-xs);
}


.footer--icon-wrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 1.5rem;
}

.footer--icon-wrapper svg {
    height: 1em;
}