.app {
  margin: 0 auto;
  min-height: 100vh;
  font-family: var(--font-sans);
}

a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition)
}

a:hover {
  color: var(--accent);
}

body {
  color: var(--white);
}

.section--number {
  font-family: var(--font-mono);
  margin-right: 10px;
}

.section--heading {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  margin: 2em 0 1em 0;
  color: var(--accent)
}

.section--heading::before {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--white);
  width: 50px;
  margin-right: 10px;
}

.section--heading::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--white);
  width: 100%;
  margin-left: 10px;
}


button {
  width: 40px;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--accent);
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media screen and (min-width: 768px){

  .section--heading::before {
    margin-right: 20px;
  }

  .section--heading::after {
    width: 40%;
    margin-left: 20px;
  }


}

