.app {
  margin: 0 auto;
  min-height: 100vh;
}

.main {
  max-width: 1140px;
  font-family: var(--font-sans);
}

section:nth-child(1) {
  background-color: var(--dark-slate);
}

section:nth-child(2) {
  background-color: var(--slate);
}

a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition)
}

a:hover {
  color: var(--accent);
}

body {
  color: var(--white);
}


button {
  width: 40px;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--accent);
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



