:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent: #ff8c00;
  --heading: #ade8f4;
  --subheading: #94d2bd;
  --dark-slate: #242424;
  --slate: #8892b0;
  --white: #F7FFF7;
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;

  --font-sans: "Source Sans Pro", -apple-system, system-ui, sans-serif;
  --font-mono: "Source Code Pro", monospace;
  --font-xs: 0.875rem;
  --font-s: 1rem;
  --font-m: 1.125rem;
  --font-l: 1.25rem;
  --font-xl: 1.5rem;
  --font-heading: 2rem;

  --border: 5px;
  --border-radius: 5px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;

  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;

}

/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu Mono', monospace; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: Inter, sans-serif;
  margin: auto;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

img {
  display: block;
}

