:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent: #ff8c00;
  --heading: #ade8f4;
  --subheading: #94d2bd;
  --dark-slate: #242424;
  --dark-slate-alpha: #24242480;
  --light-slate: #a8b2d1;
  --slate: #565a65;
  --white: #F7FFF7;

  --font-sans: "Source Sans Pro", -apple-system, system-ui, sans-serif;
  --font-mono: "Source Code Pro", monospace;
  --font-xs: 0.875rem;
  --font-s: 1rem;
  --font-m: 1.125rem;
  --font-l: 1.25rem;
  --font-xl: 1.5rem;
  --font-heading: 2rem;

  --border: 5px;
  --border-radius: 5px;
  --nav-height: 80px;
  --nav-scroll-height: 70px;

  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: Inter, sans-serif;
  margin: auto;
}

.container {
  max-width: 1140px;
  padding: 1em 2em;
  margin: 0 auto;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth;
} 

ul {
  list-style: none;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  } 
}

@media screen and (min-width: 768px){
  section {
    padding: 3em 9em;
  }

  .container {
    padding: 0
  }
}